<div class="container"> <h1>Password generator</h1>
<div class="form-group">
    <label>Length</label>
    <input type="text" (input)="getLength($event.target.value)" class="form-control">
</div>
<div class="form-check">
  <input class="form-check-input" (change)="useLetters()" type="checkbox">
  <label class="form-check-label">
    Use Letters
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" (change)="useNumbers()" type="checkbox">
  <label class="form-check-label">
    Use Numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" (change)="useSymbols()" type="checkbox">
  <label class="form-check-label">
    Use Symbols
  </label>
</div>
<button 
class="btn btn-block btn-primary"
(click)="onGenerate()" 
[disabled]="!(length && (includeNumbers||includeSymbols||includeLetters))"
>Generate!</button>
<div class="form-group" *ngIf="password">
  <label>Your Password</label>
  <input type="text" class="form-control" [value]="password">
</div>
</div>